Checks: >
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  modernize-*,
  readability-*,
    -readability-braces-around-statements
  cppcoreguidelines-*,
  hicpp-*,
  -hicpp-no-array-decay,
  -hicpp-braces-around-statements
  -cppcoreguidelines-owning-memory,
  -modernize-use-trailing-return-type,
  -modernize-use-default-member-init,
  -readability-magic-numbers
  -header-filter=.*

HeaderFilterRegex: '^(InterstellarOutpost/|NeuronCore/|NeuronClient/'
FormatStyle: file

ExtraArgsBefore:
  - -D_USE_MATH_DEFINES
  - -Xclang
  - -std=c++2b
  - -Wno-unused-command-line-argument

CheckOptions:
  - key: modernize-use-nullptr.NullMacros
    value: 'NULL'
  - key: modernize-loop-convert.MinConfidence
    value: reasonable
  - key: modernize-use-auto.MinTypeNameLength
    value: '5'
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.StructCase
    value: CamelCase
  - key: readability-identifier-naming.FunctionCase
    value: camelBack
  - key: readability-identifier-naming.VariableCase
    value: camelBack
  - key: readability-identifier-naming.ConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.PrivateMemberPrefix
    value: m_
  - key: readability-identifier-naming.ProtectedMemberPrefix
    value: m_
  - key: readability-implicit-bool-conversion.AllowIntegerConditions
    value: 'true'
