
[*.{appxmanifest,axaml,axml,config,csproj,dbml,discomap,dtd,jsproj,lsproj,njsproj,nuspec,paml,proj,props,resw,resx,StyleCop,targets,tasks,vbproj,xaml,xamlx,xml,xoml,xsd}]
indent_style = space
indent_size = 4
tab_width = 4

[*.{blockshader,c,c++,c++m,cc,ccm,cginc,compute,cp,cpp,cppm,cu,cuh,cxx,cxxm,fx,fxh,h,h++,hh,hlsl,hlsli,hlslinc,hp,hpp,hxx,icc,inc,inl,ino,ipp,ixx,mpp,mq4,mq5,mqh,mxx,shaderFoundry,tcc,tpp,urtshader,usf,ush}]
indent_style = space
indent_size = 2
tab_width = 2

[*]

# ReSharper properties
resharper_cpp_indent_size = 2
resharper_cpp_keep_user_linebreaks = false
resharper_cpp_max_line_length = 140
resharper_cpp_tab_width = 2
resharper_cpp_use_indent_from_vs = false
resharper_empty_block_style = together
resharper_function_declaration_return_type_style = on_single_line
resharper_function_definition_return_type_style = on_single_line
resharper_indent_access_specifiers_from_class = true
resharper_indent_class_members_from_access_specifiers = true
resharper_keep_blank_lines_in_code = 1
resharper_keep_blank_lines_in_declarations = 1
resharper_keep_existing_arrangement = false
resharper_line_break_after_colon_in_member_initializer_lists = on_single_line
resharper_line_break_after_comma_in_member_initializer_lists = true
resharper_line_break_after_deref_in_trailing_return_types = on_single_line
resharper_line_break_after_init_statement = on_single_line
resharper_line_break_before_deref_in_trailing_return_types = on_single_line
resharper_line_break_before_function_try_block = line_break
resharper_line_break_before_requires_clause = on_single_line
resharper_linkage_specification_braces = next_line
resharper_linkage_specification_indentation = all
resharper_max_enum_members_on_line = 1
resharper_member_initializer_list_style = line_break
resharper_place_namespace_definitions_on_same_line = true
resharper_place_simple_blocks_on_single_line = true
resharper_show_autodetect_configure_formatting_tip = false
resharper_simple_block_style = on_single_line
resharper_simple_case_statement_style = line_break
resharper_simple_embedded_statement_style = line_break
resharper_toplevel_function_declaration_return_type_style = on_single_line
resharper_toplevel_function_definition_return_type_style = on_single_line
resharper_use_continuous_line_indent_in_method_pars = true
resharper_wrap_base_clause_style = chop_if_long
resharper_wrap_before_colon = true
resharper_wrap_ctor_initializer_style = chop_if_long
resharper_wrap_enumeration_style = wrap_if_long

# ReSharper inspection severities
resharper_cpp_clang_tidy_cppcoreguidelines_special_member_functions_highlighting = none
resharper_cpp_wrong_includes_order_highlighting = suggestion
